/article.aux
/article.fdb_latexmk
/article.fls
/article.log
/article.out
/article.pdf
/article.synctex.gz
/hkc.pdf
/milner.pdf
/texte.txt
Milner/article.aux
Milner/article.fdb_latexmk
Milner/article.fls
Milner/article.log
Milner/article.out
Milner/milner.aux
Milner/milner.log
Milner/milner.out
Milner/milner.pdf
Milner/hkc.pdf
Milner/milner.tex
regexp-tw2.pdf
article.pdf
Milner/article.pdf
